<div id="nav-top">
    <!-- Login -->
    <f:link.page pageUid="{settings.menu.loginPid}" id="login-button" class="badge icon-login inline-icon text-primary fw-bold">Login</f:link.page>

    <!-- Dynamic Links -->
    <ul id="nav-top-dynamic-links">
        <f:for each="{navtop}" as="item">
            <li class="nav-item {f:if(condition: item.active, then:'active')}">
                <f:switch expression="{item.data.doktype}">
                    <f:case value="3">
                        <f:link.external uri="{item.data.url}" target="{item.target}" class="nav-link">
                            <span class="icon-external-link inline-icon">{item.title}</span>
                        </f:link.external>
                    </f:case>
                    <f:defaultCase>
                        <f:link.typolink parameter="{item.link}" target="{item.target}" class="nav-link">
                            <span class="icon-external-link inline-icon">
                                <f:if condition="{item.data.nav_title}">
                                    <f:then>{item.data.nav_title}</f:then>
                                    <f:else>{item.title}</f:else>
                                </f:if>
                            </span>
                        </f:link.typolink>
                    </f:defaultCase>
                </f:switch>
            </li>
        </f:for>
    </ul>

    <!-- Language -->
    <f:render partial="NavLang" arguments="{_all}" />

</div>

