<div class="container-fluid container-break-out {f:if(condition: '{iterator.index} % 2 == 0', then: 'bg-primary', else: 'bg-terthiary')}">
    <div class="container">
        <div class="row event-item-container">
            <div class="col-1"></div>
            <div class="col-4 py-5 px-4">
                <span class="event-date">
                    <f:format.date format="%d. %m.">{newsItem.datetime}</f:format.date>
                </span>
                <span class="event-time"><f:format.date format="H:i">{newsItem.datetime}</f:format.date></span>
                <div class="event-place">{newsItem.location.title}</div>
                <f:if condition="{newsItem.mediaPreviews}">
                    <!-- media preview element -->
                    <f:then>
                        <div class="event-item-image-container">
                            
                            <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                                <f:if condition="{mediaElement.originalResource.type} == 2">
                                    <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" loading="{settings.list.media.image.lazyLoading}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                                </f:if>
                                <f:if condition="{mediaElement.originalResource.type} == 4">
                                    <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                                </f:if>
                                <f:if condition="{mediaElement.originalResource.type} == 5">
                                    <f:image image="{mediaElement}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" loading="{settings.list.media.image.lazyLoading}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                                </f:if>
                            </f:alias>
                        </div>
                    </f:then>
                    <f:else>
                        <f:if condition="{settings.displayDummyIfNoMedia}">
                            <div class="news-img-wrap">
                                <span class="no-media-element">
                                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                                        <f:image src="{settings.list.media.dummyImage}" title="" alt="" loading="{settings.list.media.image.lazyLoading}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.list.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.list.media.image.maxHeight)}"/>
                                    </n:link>
                                </span>
                            </div>
                        </f:if>
                    </f:else>
                </f:if>
            </div>
            <div class="col-7 px-3 py-5">
                <div class="event-title">
                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                        {newsItem.title}
                    </n:link>
                </div>
                <div class="event-teaser">
                    {newsItem.teaser}
                </div>
                <div class="py-4">
                    <n:link class="primary-button" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                        KARTEN KAUFEN
                    </n:link>
                </div>
            </div>
        </div>
    </div>
</div>
