<div class="middle-footer container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{settings.footer.footerPid}', colPos: '30', slide: '-1'}" />
            </div>
            <div class="col-12 col-md-3">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{settings.footer.footerPid}', colPos: '40', slide: '-1'}" />
            </div>
            <div class="col-12 col-md-3">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{settings.footer.footerPid}', colPos: '50', slide: '-1'}" />
            </div>
            <div class="col-12 col-md-3">
                <ul class="text-end d-flex justify-content-between justify-content-sm-between d-md-block px-0 py-3">
                    <li><a href="{settings.socialMediaLinks.facebook}"><span class="icon icon-facebook"></span></a></li>
                    <li><a href="{settings.socialMediaLinks.instagram}"><span class="icon icon-instagram"></span></a></li>
                    <li><a href="{settings.socialMediaLinks.tiktok}"><span class="icon icon-tiktok"></span></a></li>
                    <li><a href="{settings.socialMediaLinks.linkedin}"><span class="icon icon-linkedin"></span></a></li>
                    <li><a href="{settings.socialMediaLinks.spotify}"><span class="icon icon-spotify"></span></a></li>
                    <li><a href="{settings.socialMediaLinks.pinterest}"><span class="icon icon-pinterest"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>